.profile-image-container {
	display:inline-block;
	position:relative; 
	margin-top: 10px;
}

.friend-profile-header-image {
	height: 160px; 
	width: 160px; 
	border: 2px solid black; 
	border-radius: 50%;
	top: 54px;
    left: 80px;
    position: absolute;
}

.friend-profile-header-info {
    position: relative;
    min-height: 1px;
    padding-top: 82px;
    padding-left: 261px;
    float: left;
    width: 800px;
}

.friend-profile-container {
	height: 100%;
}

.friend-profile-top-banner {
	height: 24%;
}

.friend-profile-top-banner-img {
	min-width: 20%;
    height: auto;
    background-color: rgba(214, 224, 226, 0.2);
}

.btn-alterar-image-profile {
	position:absolute;
    right: 28%;
    top: 45%;
}

//ccp
.fb-profile {
	margin-top: -20px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
    height: 30vh;
}

.fb-image-profile
{
    margin: -160px 10px 20px 80px;
    z-index: 9;
    width: 15%; 
}

.fb-profile-title{
		position: absolute;
		margin: 7% 50px 0 22%;
	    z-index: 8;
	    width: 50%;
		padding-bottom: 2px;
		.fb-profile-title-text{
			color: $white;
			font-size: 5vh;
			font-family: "Arial Black", Gadget, sans-serif;
			padding-right: 50px;
			text-shadow: -2px 2px 1px $black;
			text-align: justify;
		}
}
	
.fb-profile-text{
	background-color: $white;
	//box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
	padding: 30px 0;
	.fb-profile-subtitle{
	padding-top: 10px;
	}
}

@media (max-width:768px){
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 30%; 
}
}
.btn-sm{
	background-color: $red-primary;
}

/* Tabs */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.nav-tabs, .nav-tabs>li>a {
       border: 0 !important;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.tabbable-panel {
  padding: 10px;
    border:1px solid #eee;
}

.menu-title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}
