<div id="wrapper">

      <!-- Sidebar -->
      <div class="col-md-2">
	        	<img style="height: 220px" ng-src="{{vm.season.images.file_path ? 
	        		vm.season.images.file_path : vm.imageNotAvailable}}" alt="" 
				    class=""/>
        	    <ul class="sidebar-nav">
	                <li><a href="#">Assistido</a></li>
	                <li><a href="#">Quero Assistir</a></li>
	                <li><a href="#">Outras Listas</a></li>
            	</ul>
        </div>
        
        <!-- Page content -->
        <div id="page-content-wrapper" class="col-md-10">
            
            <div class="">
            	<h3 ng-click="vm.returnToShow()">{{vm.show.title}}</h3>
                <h5>({{vm.show.year}})</h5>
            </div>
            
            <div class="">
            	<div class="col-md-2">
                	<h4 class="text-center">Avaliação Geral</h4>
                 </div>
                 <div class="col-md-2">
                    <h4>{{vm.season.rating}}</h4>
                 </div>
                 <div class="col-md-2">
                    <h4>Total de avaliações: 500</h4>
                 </div>
                 <div>
                    <p>Dê sua avaliaçãoo:</p>
                    <ng-rate-it 
                    	ng-model="vm.season.userRating" 
						resetable="false"
						step="1"
						rated="vm.evaluate">
					</ng-rate-it>
             	</div>
             </div>
             
             <div class="">
                 <p>{{vm.show.overview}}</p>
             </div>
             
             <div class="">
             	<p class="col-md-3">Lançaamento {{vm.show.released | date:'dd/MM/yyyy'}}</p>
                <p class="col-md-3">Duraçãoo {{vm.show.runtime}} minutos</p>
                <p class="col-md-3">
                    Gênero(s): 
	                <div ng-repeat="genre in vm.show.genres">
	                	{{genre | translate}}, 
	                </div>
                </p>
             </div>
             
             <div class="">
             	<p class="col-md-3" ng-show="vm.show.crew.directing">
             		Diretor {{vm.show.crew.directing[0].person.name}}
                </p>
                <a ng-show="vm.show.homepage" class="col-md-3" ng-href="{{vm.show.homepage}}" 
                	target="_blank">
                    Página Oficial
                </a>
             </div>
             
             <div class="row">
             	<div ng-repeat="episode in vm.season.episodes track by episode.number" 
             		ng-click="vm.openEpisode(episode.number, vm.season.number, vm.show.ids.slug,
             		 	vm.show.images.backdrop, vm.season.images)">
             		<div class="col-md-3 col-md-push">
             			<img ng-src="{{episode.images.file_path ? episode.images.file_path : 
                       			vm.imageNotAvailable}}" 
                       			style="height: 180px; width: 250px">
             		</div>
             		<div class="col-md-9">
             			<h4>{{vm.season.number + 'x' + episode.number + ' ' + episode.title}}</h4>
             			<p>{{episode.overview}}</p>
             		</div>
             	</div>
             </div>
                       	
        </div>

</div>