<div id="wrapper">

        <!-- Sidebar -->
        
        <div class="col-md-2 col-md-offset-1 genericSidebar">
	        	<img ng-src="{{vm.show.images.poster.file_path ? 
					vm.show.images.poster.file_path : vm.imageNotAvailable}}" alt=""
				    class="imgPosterSidebar img-responsive"/>
        		<button ng-show="vm.show.trailer" class="btn btn-default center-block btnTrailerSidebar" ng-click="vm.openTrailer()">
        			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        			TRAILER
        		</button>
        	    <ul class="nav nav-pills nav-stacked navSidebar text-center">
	                <li class="listNav" role="presentation"><a class="listNav" href="#">Assistido</a></li>
	                <li class="listNav" role="presentation"><a class="listNav" href="#">Quero Assistir</a></li>
	                <li  role="presentation"><a class="listNav" href="#">Outras Listas</a></li>
            	</ul>
        </div>
      </div>

        <!-- Page content -->
        <div id="page-content-wrapper" class=" row col-md-8 pageContent clearfix">
            
            <!-- Title -->
    			<div class="col-md-12">
                    <span class="title">{{vm.show.title}}</span>
                    <span class="year">({{vm.show.year}})</span>
                </div>
         
            
 
             
             <div class="overview col-md-12">
             	
             	<!-- Rating -->
             	<div class="col-md-3 rating">
						<div class="mediaGeral">
							<div class="mediaGeralTitle col-md-5 col-md-offset-1"> 
								<p> MÉDIA
								<br>
								GERAL</p>
							</div>
							
							<div class="mediaGeralText col-md-5">
								<span ng-show="!vm.showDoesntExist"> {{vm.show.domain.rating.average}}  </span>
								<span ng-show="vm.showDoesntExist"> 0 </span>
							</div>
						</div>
		
					<div class="col-md-12">
						<h4 class="text-center ratingText" ng-show="!vm.showDoesntExist && vm.show.domain.rating.average > 0"> {{vm.show.domain.rating.votes}} avaliações totais</h4>
						<h4 class="text-center ratingText" ng-show="vm.showDoesntExist || vm.show.domain.rating.average == 0">Não há avaliações no momento</h4>
					</div>
					<div class="col-md-12 text-center">
						<p class="">Deixe sua avaliação: 
							<ng-rate-it ng-model="vm.show.userRating.note" resetable="vm.show.userRating.id != 0 ? true : false"
								step="1" rated="vm.evaluate" reset="vm.deleteRating"> 
							</ng-rate-it>
						</p>
					</div>
				</div>
				
             	<div class="overviewText">
		            <p> {{vm.show.overview}}</p>
		         </div>
		  
		                       	<div class="col-md-3" ng-show="vm.show.released">
			                       		<span style="font-weight: 900;">Lançamento:</span>
			                       		<span>{{vm.show.released | date:'dd/MM/yyyy'}} </span>
		                       	</div>
		                       	
	                       		<div class="col-md-3" ng-show="vm.show.runtime">
		                       		 <span style="font-weight: 900;"> Duração: </span>
		                       		  <span>{{vm.show.runtime}} minutos.</span>
	                       		</div>
	                       		
	                       		<div class="col-md-3" ng-show="vm.show.genres">
	                       			<span style="font-weight: 900;"> Gênero(s): </span>
	                       			 <div ng-repeat="genre in vm.show.genres">
	                					{{genre | translate}}
	               					 </div>
	                       		</div>
	                       	
	                   			<div class="col-md-3"  ng-show="vm.show.crew.directing">
		                       		<span style="font-weight: 900;">Diretor:</span> 
		                       		<span> {{vm.show.crew.directing[0].person.name}} </span>
		                       	<br>
		                       		<a ng-show="vm.show.homepage" class="col-md-3" ng-href="{{vm.show.homepage}}" 
					                	target="_blank">
					                    Página Oficial
					                </a>
	                 			</div>
	                 			
	                 			
	                 			<!-- Actors -->
	                 			<div class="col-md-12"> 	
	                       
	                       		<p style="font-weight: 900;">Atores:</p>
	                       
	                       		<div class="col-md-12 actorInformation">
		                       	    <div class="col-md-1 moreActor">
		                       			<button ng-click="vm.loadMorePerson('less')" ng-disabled="vm.first" class="btn btn-default btnSlide">
		                       					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		                       			</button>
		                       		</div>
		                       		
		                       		<div ng-repeat="cast in vm.castArray track by cast.person.ids.trakt" class="col-md-2 center-text" >
		                       					
		                       					<img ng-src="{{cast.person.image ? cast.person.image : vm.imageNotAvailable}}" 
		                       						class="img-responsive imgActor">
		                       					<span class="nameActor"> {{cast.person.name}} </span>
		                       					<span class="nameCharacter"> {{cast.character}}</span>	
		                       		</div>
	                       		
	                       		<div class="col-md-1 lessActor">
	                       			 <button ng-click="vm.loadMorePerson('more')" ng-disabled="vm.last" class="btn btn-default btnSlide">
	                       			 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	                       			 </button>
	                       		</div>
	                       		
	                       		</div>
	                       	</div>
	                       	
	                       	
	                       	<!-- Seasons -->
	                       	<div class="col-md-12"> 
	                       	
              					<p style="font-weight: 900; margin-top: 15px;">Temporadas:</p>
             
             					<div ng-repeat="season in vm.show.seasons track by season.number">
				             		<div class="col-md-2" ng-click="vm.exibirSeason(season, vm.show)">
				             			<div class="row">
				                       		<img ng-src="{{season.images.file_path ? season.images.file_path : 
				                       			vm.imageNotAvailable}}" 
				                       			style="height: 120px; width: 80px">
				                       	</div>
				                       	<div class="row">
				                       		<p>{{season.number == 0 ? 'Temporada Especial' : season.number + 'ª temporada'}} </p>
				                       	</div>
				             		</div>
             					</div>
           				  </div>
	                       	
	                       	<!-- Related Shows -->
	                       	<div class="col-md-12 divRelated"> 
	                       	
	                       			<p class="relatedTitle">Séries Relacionadas</p>
	                       			
	                       			<div class="col-md-11  col-md-offset-1 related">
		                       			<div ng-repeat="show in vm.show.relatedShows track by show.ids.trakt">
		                       				<div class="col-md-2" ng-click="vm.exibirTitulo(show)">
		                       					<img ng-src="{{show.images.poster.file_path ? show.images.poster.file_path : 
                       									vm.imageNotAvailable}}" 
		                       						class="imgRelated">
		                       						<p class="nameRelated">{{show.title}}</p>
		                       				</div>
		                       			</div>
		                       		</div>
	                       	</div>
	                       	
             </div>

        </div>