<!-- Sidebar -->
        
        <div class="col-md-2 col-md-offset-1 genericSidebar">
	        	<img ng-src="{{vm.season.images.file_path ? 
	        		vm.season.images.file_path : vm.imageNotAvailable}}" alt=""
				    class="imgPosterSidebar img-responsive"/>
        	    <ul class="nav nav-pills nav-stacked navSidebar text-center">
	                <li class="listNav" role="presentation"><a class="listNav" href="#">Assistido</a></li>
	                <li class="listNav" role="presentation"><a class="listNav" href="#">Quero Assistir</a></li>
	                <li  role="presentation"><a class="listNav" href="#">Outras Listas</a></li>
            	</ul>
        </div>
        
        <!-- Page content -->
        <div id="page-content-wrapper" class=" row col-md-8 pageContent clearfix">
            
             <!-- Title -->
    			<div class="col-md-12">
                    <span class="title">{{vm.show.title}}</span>
                    <span class="year">({{vm.show.year}})</span>
                </div>
            
 
             
             <div class="overview col-md-12">
	            
	            <div class="col-md-3 rating">
						<div class="mediaGeral">
							<div class="mediaGeralTitle col-md-5 col-md-offset-1"> 
								<p> MÉDIA
								<br>
								GERAL</p>
							</div>
							
							<div class="mediaGeralText col-md-5">
								<span ng-show="!vm.seasonDoesntExist"> {{vm.season.domain.rating.average}}  </span>
								<span ng-show="vm.seasonDoesntExist"> 0 </span>
							</div>
						</div>
		
					<div class="col-md-12">
						<h4 class="text-center ratingText" ng-show="!vm.seasonDoesntExist && vm.season.domain.rating.average > 0"> {{vm.season.domain.rating.votes}} avaliações totais</h4>
						<h4 class="text-center ratingText" ng-show="vm.seasonDoesntExist || vm.season.domain.rating.average == 0">Não há avaliações no momento</h4>
					</div>
					<div class="col-md-12 text-center">
						<p class="">Deixe sua avaliação: 
						<ng-rate-it ng-model="vm.season.userRating.note" resetable="vm.season.userRating.id != 0 ? true : false"
							step="1" rated="vm.evaluate"  reset="vm.deleteRating"> </ng-rate-it>
						</p>
					</div>
				</div>
				
	             <div class="overviewText col-md-9">
			     	<p> {{vm.show.overview}}</p>
			     </div>
	             
	             <div class="col-md-3" ng-show="vm.show.released">
				      <span style="font-weight: 900;">Lançamento:</span>
				      <span>{{vm.show.released | date:'dd/MM/yyyy'}} </span>
			     </div>
			                       	
		         <div class="col-md-3" ng-show="vm.show.runtime">
			          <span style="font-weight: 900;"> Duração: </span>
			          <span>{{vm.show.runtime}} minutos.</span>
		         </div>
		                       		
		         <div class="col-md-3" ng-show="vm.show.genres">
		              <span style="font-weight: 900;"> Gênero(s): </span>
		              <div ng-repeat="genre in vm.show.genres">
		                	{{genre | translate}}
		               </div>
		         </div>
		                       	
		         <div class="col-md-3"  ng-show="vm.show.crew.directing">
			          <span style="font-weight: 900;">Diretor:</span> 
			          <span> {{vm.show.crew.directing[0].person.name}} </span>
			          <br>
			         <a ng-show="vm.show.homepage" class="col-md-3" ng-href="{{vm.show.homepage}}" 
                		target="_blank">
                    	Página Oficial
                	</a>
		         </div>
		         
     </div>      
               	
 </div>
 
  <div class="col-md-10 col-md-offset-1  overviewEpisodes"> 
		       <p style="font-weight: 900; margin: 30px 0 ;" class="text-center">Episódios</p>
             	
             	<div ng-repeat="episode in vm.season.episodes track by episode.number" 
             		ng-click="vm.openEpisode(episode.number, vm.season.number, vm.show.ids.slug,
             		 	vm.show.images.backdrop, vm.season.images)" class=" row col-md-12 episodeSeason">
           
             		<div class="col-md-7 col-md-offset-1">
             			<h4>{{vm.season.number + 'x' + episode.number + ' - ' + episode.title}}</h4>
             			<p class="overviewSeason">{{episode.overview}}</p>
             		</div>
             		<div class="col-md-4 img-responsive">
             			<img ng-src="{{episode.images.file_path ? episode.images.file_path : 
                       			vm.imageNotAvailable}}">
             		</div>
             		
             	</div>	
             </div>  