// Page content

.pageContent{
	margin-left: 15px;
	margin-top: 20px;
	.overview{
		background-color: $white;
		padding-bottom: 40px;
		.overviewText{
			margin: 15px;
			text-align: justify;
   			text-justify: inter-word;
		}
	}
}




