<div id="wrapper">

	<!-- Sidebar -->
	<div class="col-md-2 col-md-offset-1 genericSidebar">
		<img
			ng-src="{{vm.movie.images.poster.file_path ? 
					vm.movie.images.poster.file_path : vm.imageNotAvailable}}"
			alt="" class="imgPosterSidebar img-responsive" />
		<button ng-show="vm.movie.trailer"
			class="btn btn-default center-block btnTrailerSidebar"
			ng-click="vm.openTrailer()">
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			TRAILER
		</button>
		<!-- 
		<ul class="nav nav-pills nav-stacked navSidebar text-center">
			<li class="listNav" role="presentation"><a class="listNav"
				href="#">Assistido</a></li>
			<li class="listNav" role="presentation"><a class="listNav"
				href="#">Quero Assistir</a></li>
			<li role="presentation"><a class="listNav" href="#">Outras
					Listas</a></li>
		</ul>
		 -->
	</div>


	<!-- Page content -->
	<div id="page-content-wrapper"
		class=" row col-md-8 pageContent clearfix">

		<!-- Title -->
		<div class="col-md-12">
			<span class="title">{{vm.movie.title}}</span> <span class="year">({{vm.movie.year}})</span>
		</div>

		<!-- Overview-->
		<div class="overview col-md-12">
		
		<!-- Rating -->
		<div class="col-md-3 rating">
				<div class="mediaGeral">
					<div class="mediaGeralTitle col-md-5 col-md-offset-1"> 
						<p> Média
						<br>
						GERAL</p>
					</div>
					
					<div class="mediaGeralText col-md-5">
						<span ng-show="!vm.movieDoesntExist"> {{vm.movie.domain.rating.average}}  </span>
						<span ng-show="vm.movieDoesntExist"> 0 </span>
					</div>
				</div>

			<div class="col-md-12">
				<h4 class="text-center ratingText" ng-show="!vm.movieDoesntExist && vm.movie.domain.rating.average > 0"> {{vm.movie.domain.rating.votes}} avaliações totais</h4>
				<h4 class="text-center ratingText" ng-show="vm.movieDoesntExist || vm.movie.domain.rating.average == 0">Não há avaliações no momento</h4>
			</div>
			<div class="col-md-12 text-center">
				<p class="">Deixe sua avaliação: 
				<ng-rate-it ng-disabled="vm.isEvaluating" ng-model="vm.movie.userRating.note" resetable="vm.movie.userRating.note > 0 ? true : false"
					step="1" rated="vm.evaluate" reset="vm.deleteRating"> </ng-rate-it>
				</p>
			</div>

		</div>

		<div class="overviewText col-md-9">
			<p>{{vm.movie.overview}}</p>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-3">
				<span style="font-weight: 900;">Lançamento:</span> <span>{{vm.movie.released
					| date:'dd/MM/yyyy'}} </span>
			</div>

			<div class="col-md-3">
				<span style="font-weight: 900;"> Duração: </span> <span>{{vm.movie.runtime}}
					minutos.</span>
			</div>

			<div class="col-md-3">
				<span style="font-weight: 900;"> Gênero(s): </span>
				<div ng-repeat="genre in vm.movie.genres">{{genre |
					translate}}</div>
			</div>

			<div class="col-md-3">
				<span style="font-weight: 900;">Diretor:</span> <span>{{vm.movie.crew.directing[0].person.name}}
				</span> <br> <a ng-show="vm.movie.homepage"
					ng-href="{{vm.movie.homepage}}" target="_blank"> Página Oficial
				</a>
			</div>
		</div>

			<!-- Actors -->
			<div class="col-md-12 Actors">

				<p style="font-weight: 900;">Atores:</p>

				<div class="col-md-12 actorInformation">
					<div class="col-md-1 moreActor">
						<button ng-click="vm.loadMore('less')" ng-disabled="vm.first" class="btn btn-default btnSlide">
	                       	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	                     </button>
					</div>

					<div
						ng-repeat="cast in vm.castArray track by cast.person.ids.trakt"
						class="col-md-2 center-text">

						<img
							ng-src="{{cast.person.image ? cast.person.image : vm.imageNotAvailable}}"
							class="img-responsive imgActor"> <span class="nameActor">
							{{cast.person.name}} </span> <span class="nameCharacter">
							{{cast.character}}</span>
					</div>

					<div class="col-md-1 lessActor">
						<button ng-click="vm.loadMore('more')" ng-disabled="vm.last" class="btn btn-default btnSlide">
	                       	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	                     </button>
					</div>

				</div>
			</div>


			<!-- Related Movies -->
			<div class="col-md-12 divRelated">

				<p class="relatedTitle">Filmes Relacionados:</p>

				<div class="col-md-11  col-md-offset-1 related">
					<div
						ng-repeat="movie in vm.movie.relatedMovies track by movie.ids.trakt">
						<div class="col-md-2"
							ng-click="vm.exibirTitulo(movie.ids.slug, movie)">
							<img
								ng-src="{{movie.images.poster.file_path ? movie.images.poster.file_path : 
		                       						vm.imageNotAvailable}}"
								class="imgRelated" style="cursor:pointer;">
							<p class="nameRelated" style="cursor:pointer;">{{movie.title}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

</div>