<div id="wrapper">

	<!-- Sidebar -->
	<div class="col-md-2 col-md-offset-1 genericSidebar">
		<img
			ng-src="{{vm.people.images.file_path ? 
					vm.people.images.file_path : vm.imageNotAvailable}}"
			alt="" class="imgPosterSidebar img-responsive" />
	</div>

	<!-- Page content -->
	<div id="page-content-wrapper"
		class=" row col-md-8 pageContent clearfix">

		<!-- People Name -->
		<div class="col-md-12">
			<span class="title">{{vm.people.name}}</span> 
		</div>

		<!-- Rating -->
        <div class="col-md-12 rating">
        	<div class="col-md-4 text-center ratingText">
	            <h4 class="">Deixe sua avaliação: </h4>
	            <ng-rate-it 
	            	ng-model="vm.show.userRating" 
					resetable="false"
					step="1"
					rated="vm.evaluate">
				</ng-rate-it>
         	</div>
                    		
            <div class="col-md-4">
            	<h4 class="text-center ratingText ratingTextMargin">Avaliação Geral: 2.3</h4>
            </div>
                    		
           <div class="col-md-4">
           		<h4 class="text-center ratingText ratingTextMargin">Total de avaliações: 500</h4>
           </div>
        </div>
		
		<div class="overview col-md-12">
			
			<!-- Biografy -->
			<div class="col-md-12 overviewText" >
				<p>{{vm.people.biography}}</p>
			</div>
		
			<!-- Age -->
			<div class="col-md-2">
				<span style="font-weight: 900;">Idade:</span>
				<span>{{vm.people.age}} anos</span>
			</div>
			
			<!-- Born -->
			<div class="col-md-10">
				<span style="font-weight: 900;">Nascimento:</span>
				<span>{{vm.people.birthday | date:'longDate'}} em {{vm.people.birthplace}}</span>
			</div>
			
			<!-- HomePage -->
			<div class="col-md-12" ng-show="vm.people.homepage">
				<p> <a ng-href="{{vm.people.homepage}}" target="_blank">Página Oficial</a> </p>
			</div>
			
			<!-- Ator's job -->
			<div ng-show="vm.displayActorArray.length > 0">
				<h4 class="col-md-12 relatedTitle" style="font-weight: 900;">Ator</h4>
				<div ng-repeat="actor in vm.displayActorArray" class="col-md-3">
					<div ng-if="actor.movie" ng-click="vm.goToMovie(actor.movie)">
						<img ng-src="{{actor.movie.images.poster.file_path ? 
							actor.movie.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
						<div class="movieAndShowTextBoxPersonImages">
							<p class="text-center control-label">
								<a>
									<span class="movieAndShowTitleTextPersonImages">
										{{actor.movie.title}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages">
										{{actor.movie.year}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages" ng-show="actor.character">
										"{{actor.character}}"
									</span>
								</a>
							</p>
						</div>
					</div>
					
					<div ng-if="actor.show" ng-click="vm.goToShow(actor.show)">
						<img ng-src="{{actor.show.images.poster.file_path ? 
							actor.show.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
						<div class="movieAndShowTextBoxPersonImages">
							<p class="text-center control-label">
								<a>
									<span class="movieAndShowTitleTextPersonImages">
										{{actor.show.title}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages">
										{{actor.show.year}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages" ng-show="actor.character">
										"{{actor.character}}"
									</span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<button class="btn btn-default col-md-offset-5" 
					ng-click="vm.loadMoreActor()" ng-disabled="vm.loadMoreActorIsDisabled">
					Carregar mais
				</button>
			</div>
			
			<!-- Ator's production -->
			<div ng-show="vm.displayProductionArray.length > 0">
				<h4 class="col-md-12" style="font-weight: 900;">Produção</h4>
				<div ng-repeat="actor in vm.displayProductionArray" class="col-md-3">
					<div ng-if="actor.movie" ng-click="vm.goToMovie(actor.movie)">
						<img ng-src="{{actor.movie.images.poster.file_path ? 
							actor.movie.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
						<div class="movieAndShowTextBoxPersonImages">
							<p class="text-center control-label">
								<a>
									<span class="movieAndShowTitleTextPersonImages">
										{{actor.movie.title}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages">
										{{actor.movie.year}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages" ng-show="actor.job">
										"{{actor.job}}"
									</span>
								</a>
							</p>
						</div>
					</div>
					
					<div ng-if="actor.show" ng-click="vm.goToShow(actor.show)">
						<img ng-src="{{actor.show.images.poster.file_path ? 
							actor.show.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
						<div class="movieAndShowTextBoxPersonImages">
							<p class="text-center control-label">
								<a>
									<span class="movieAndShowTitleTextPersonImages">
										{{actor.show.title}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages">
										{{actor.show.year}}
									</span>
									<br>
									<span class="movieAndShowContentTextPersonImages" ng-show="actor.job">
										"{{actor.job}}"
									</span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<button class="btn btn-default col-md-offset-5" 
					ng-click="vm.loadMoreProduction()" ng-disabled="vm.loadMoreProductionIsDisabled">
					Carregar mais
				</button>
			</div>
		</div>

	</div>
	
</div>