<div id="wrapper">

	<!-- Sidebar -->
	<div class="col-md-2 col-md-offset-1 sidebarPerson">
		<img
			ng-src="{{vm.people.images.file_path ? 
					vm.people.images.file_path : vm.imageNotAvailable}}"
			alt="" class="imgPosterPerson img-responsive" />
	</div>

	<!-- Page content -->
	<div class=" row col-md-8 pageContentPerson clearfix">

		<!-- People Name -->
		<div class="col-md-12">
			<span class="peopleName">{{vm.people.name}}</span> 
		</div>

		<!-- Rating -->
		<div class="col-md-12">
			<div class="col-md-2">
				<h4 class="text-center">Avaliação Geral</h4>
			</div>
			<div class="col-md-2">
				<h4>4.3</h4>
			</div>
			<div class="col-md-2">
				<h4>Total de avaliações: 500</h4>
			</div>
			<div>
				<p>Dê sua avaliação:</p>
				<ng-rate-it ng-model="vm.people.userRating" resetable="false"
					step="1" rated="vm.evaluate"> 
				</ng-rate-it>
			</div>
		</div>
		
		<!-- Age -->
		<div class="col-md-2">
			<p>Idade: {{vm.people.age}}</p>
		</div>
		
		<!-- Born -->
		<div class="col-md-10">
			<p>Nascimento: {{vm.people.birthday | date:'longDate'}} em {{vm.people.birthplace}}</p>
		</div>
		
		<!-- HomePage -->
		<div class="col-md-12" ng-show="vm.people.homepage">
			<p> <a ng-href="{{vm.people.homepage}}" target="_blank">Página Oficial</a> </p>
		</div>
		
		<!-- Biografy -->
		<div class="col-md-12">
			<p>{{vm.people.biography}}</p>
		</div>
		
		<!-- Ator's job -->
		<label class="col-md-12">Ator</label>
		<div ng-repeat="actor in vm.displayActorArray" class="col-md-3">
			<div ng-if="actor.movie">
				<img ng-src="{{actor.movie.images.poster.file_path ? 
					actor.movie.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
				<div class="movieAndShowTextBoxPersonImages">
					<p class="col-md-12 text-center control-label">
						{{actor.movie.title}}
					</p>
					<p class="col-md-12 text-center control-label">
						{{actor.movie.year}}
					</p>
					<p class="col-md-12 text-center control-label" ng-show="actor.character">
						"{{actor.character}}"
					</p>
				</div>
			</div>
			
			<div ng-if="actor.show">
				<img ng-src="{{actor.show.images.poster.file_path ? 
					actor.show.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
				<div class="movieAndShowTextBoxPersonImages">
					<p class="col-md-12 text-center control-label">
						{{actor.show.title}}
					</p>
					<p class="col-md-12 text-center control-label">
						{{actor.show.year}}
					</p>
					<p class="col-md-12 text-center control-label" ng-show="actor.character">
						"{{actor.character}}"
					</p>
				</div>
			</div>
		</div>
		<button class="btn btn-default col-md-offset-5" 
			ng-click="vm.loadMoreActor()" ng-disabled="vm.loadMoreActorIsDisabled">
			Carregar mais
		</button>
		
		<!-- Ator's production -->
		<label class="col-md-12">Produção</label>
		<div ng-repeat="actor in vm.displayProductionArray" class="col-md-3">
			<div ng-if="actor.movie">
				<img ng-src="{{actor.movie.images.poster.file_path ? 
					actor.movie.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
				<div class="movieAndShowBoxTextPersonImages">
					<p class="col-md-12">
						{{actor.movie.title}}
					</p>
					<p class="col-md-12">
						{{actor.movie.year}}
					</p>
					<p class="col-md-12" ng-show="actor.job">
						"{{actor.job}}"
					</p>
				</div>
			</div>
			
			<div ng-if="actor.show">
				<img ng-src="{{actor.show.images.poster.file_path ? 
					actor.show.images.poster.file_path : vm.imageNotAvailable}}" class="movieAndShowPersonImages">
				<div class="movieAndShowBoxTextPersonImages">
					<p class="col-md-12">
						{{actor.show.title}}
					</p>
					<p class="col-md-12">
						{{actor.show.year}}
					</p>
					<p class="col-md-12" ng-show="actor.job">
						"{{actor.job}}"
					</p>
				</div>
			</div>
		</div>
		<button class="btn btn-default col-md-offset-5" 
			ng-click="vm.loadMoreProduction()" ng-disabled="vm.loadMoreProductionIsDisabled">
			Carregar mais
		</button>

	</div>
	
</div>