// Sidebar
.genericSidebar{
	margin-top: 20px;
	.imgPosterSidebar{
		border-style: solid;
		border-width: 7px;
		//border-radius: 20px;
		border-color: rgba(0, 0, 0, 1);
		height: 300px;
		margin: 0 auto;
	}
	.btnTrailerSidebar{
		color: $white;
		font-size: 20px;
		width: 100%;
		background-color: rgba(0, 0, 0, 1);
		margin: 5px auto 0 auto;
		border-color: $black;
		.glyphicon-play{
			color: $red-primary;
		}
	}
	.navSidebar{
		margin-top: 5px;
		background-color: $red-primary;
		font-size: 20px;	
		.listNav{
			color: $white;
			border-radius: 0;
		}
		.listNav:hover{
			color: $white;
			border-radius: 0;
			background-color: $red-secondary;
		}
		.listNav:active{
			color: $white;
			border-radius: 0;
			background-color: $red-secondary;
		}
	}
}