// Slide Actor

.actorInformation{
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	height: auto;
	.nameActor{
		color: $white;
		font-size: 12px;
		display: block;
		margin: 0 auto;
	}
	.nameCharacter{
		color: $white;
		font-size: 10px;
		display: block;
		margin: 0 auto;
	}
	.imgActor{
		height: 150px;
		margin: 0 auto;
	}
}