.overviewEpisodes{
	margin-top: 20px;
	background-color: $white;
	.episodeSeason{
		margin-top: 10px;
	 	.overviewSeason{
	 		text-align: justify;
	   		text-justify: inter-word;
	 	}
	 }
}
	