<div class="container-fluid">
	<div class="row">
		<header id="header">

			<img src="/content/images/background/bg-capa.png"
				class="img-responsive" style="width: 100%; height: 250px; background-color: blank">

			<nav class="navbar navbar-default navbar-my-profile">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" ng-show="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<div class="navbar-brand navbar-brand-my-profile img-circle profile-image-container" ng-mouseenter="vm.changeAvatar=true"
					ng-mouseleave="vm.changeAvatar=false">
						<img class="img-responsive" style="min-height: 100%;"
							ng-src="{{vm.user.avatar ? vm.user.avatar : vm.defaultAvatar}}">
						<button type="button"
							class="btn btn-default btn-alterar-image-profile"
							ng-show="vm.changeAvatar" ng-click="vm.openUploadModal(vm.user.avatar)">
							<span class="glyphicon glyphicon-camera"></span> Trocar Avatar
						</button>
					</div> 
					<span class="user-name-my-profile"><b>{{vm.user.name}}</b> {{vm.user.lastName}}</span>
				</div>

				<div class="collapse navbar-collapse" id="mainNav" uib-collapse style="border-top: 0px;" ng-click="vm.updateStateName();">
					<ul class="nav main-menu navbar-nav" >
						<li><a ui-sref="my-profile-info"><i class="fa fa-home"></i>Informações</a></li>
						<li><a ui-sref="my-profile-activities"><i class="fa fa-home"></i>Atividades Recentes</a></li>
						<li><a ui-sref="myFriends({username : vm.user.username})">Amigos</a></li>
						<li uib-dropdown is-open="status.isopen" >
							<a uib-dropdown-toggle href="">Editar Perfil</a>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="min-width: 104px;">
						        <li><a ui-sref="settings({option : 'geral'})">Geral</a></li>
						        <li><a ui-sref="settings({option : 'senha'})">Senha</a></li>
     	 					</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

		</header>
		<!--/#HEADER-->
	</div>
	<div class="row"> 
		<div class="container">
			<div ui-view="my-profile" ng-show="vm.stateName !== 'my-profile'"></div>
			<div class="col-md-12" ng-show="vm.stateName === 'my-profile'">
				<div class="text-center">
					<p>Bem vindo, {{vm.user.name}}!</p>
				</div>
			</div>
		</div>
	</div>
</div>