<div class="container-fluid">
	<div class="row">
		<div class="fb-profile">
			<img align="left" class="fb-image-lg "
				src="http://lorempixel.com/850/280/abstract/"
				alt="Profile image example" /> 
			<img align="left"
				ng-src="{{vm.user.avatar ? vm.user.avatar : vm.defaultAvatar}}"
				alt="" class="fb-image-profile img-circle">
			<div class="fb-profile-text">
				<h3>{{vm.user.name + ' ' + vm.user.lastName}}</h3>
				<p>{{vm.user.username + ' • desde ' + vm.user.createdDate}}</p>
				<button ng-click="vm.addFriend(vm.user.id)" ng-if="vm.user.friendStatus === 'None'">Adiconar</button>
				<button ng-click="vm.removeFriend(vm.user.id)" ng-if="vm.user.friendStatus === 'Accept'">Remover Amizade</button>
				<button ng-click="vm.removeFriend(vm.user.id)" ng-if="vm.user.friendStatus === 'Waiting'">Remover Solicitação</button>
			</div>
			
		</div>
	</div>
</div>
<!-- /container fluid-->
<div class="container">
	<div class="col-sm-12">

	</div>
</div>


<!--  <div class="col-md-12 friend-profile-container">
	<div class="row friend-profile-top-banner" style="background-image: url(https://lastfm-img2.akamaized.net/i/u/ar0/43fe7ffe59154a81ab7b2b5c0283b2ae.jpg)">
		<div class="img-circle text-center">
			<img ng-src="{{vm.user.avatar ? vm.user.avatar : vm.defaultAvatar}}" alt="" class="friend-profile-header-image">
		</div>
		<div class="friend-profile-header-info">
			<h3>{{vm.user.name + ' ' + vm.user.lastName}}</h3>
			<p>{{vm.user.username + ' • desde ' + vm.user.createdDate}}</p>
		</div>
	</div>
</div>-->



<!-- <div class="container">
	
	<div class="media-object img-circle text-center">
		<img ng-src="{{vm.user.avatar ? vm.user.avatar : vm.defaultAvatar}}" alt="" class="profile-image">
	</div>
	
	<div class="row">
		<h3 class="text-center">{{vm.user.name + ' ' + vm.user.lastName}}</h3>
	</div>
	{{vm.user | json}}
	
</div>-->