<h3 class="text-center">Solicitações de Amizade</h3>
<div ng-repeat="watingFriend in vm.waitingFriends">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-3">
					<a ui-sref="profile({username : watingFriend.username})"> 
					<img ng-src="{{watingFriend.avatar ? watingFriend.avatar : vm.defaultAvatar}}"
						alt="people" class="media-object img-circle"
						style="height: 50px; width: 50px">
					</a>
				</div>
				<div class="col-sm-5">
					<h4 class="media-heading ">
						<a ui-sref="profile({username : watingFriend.username})">{{watingFriend.name}}</a>
					</h4>
				</div>
				<div class="pull-right">
					<div class="btn-group" uib-dropdown is-open="status.isopen">
						<button id="single-button" type="button"
							class="btn btn-default btn-sm" uib-dropdown-toggle
							ng-disabled="vm.isLoadingReply">
							Analisar <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu"
							aria-labelledby="single-button">
							<li role="menuitem"
								ng-click="vm.replyRequest('Accept', watingFriend)"><a>Confirmar</a></li>
							<li role="menuitem"
								ng-click="vm.replyRequest('Refused', watingFriend)"><a>Recusar</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="vm.waitingFriends.length > 0">
	<div class="text-center">
		<ul uib-pagination total-items="vm.waitingFriendsTotalItens"
			ng-model="vm.waitingFriendsCurrentPage"
			items-per-page="vm.waitingFriendsItensPerPage" class="pagination-sm"
			boundary-links="true" num-pages="vm.waitingFriendsTotalPages"
			ng-change="vm.pageWatingFriendsChanged()" last-text="Última"
			first-text="Primeira" next-text="Próxima" previous-text="Anterior">
		</ul>
	</div>
</div>
<div ng-if="!vm.waitingFriends.length > 0">
	<div class="text-center">
		<h4>Não há solicitações de amizades pendentes</h4>
	</div>
</div>