<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" ng-click="vm.collapseNavbar()"> 
				<img class="navbarLogo" style="" src="content/images/logo.png">
			</a>
		</div>

		<div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
			
			<ul class="nav navbar-nav navbar-right navbarLogin">
				
				<li uib-dropdown class="dropdown" auto-close="outsideClick">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" ng-switch-when="true">
                                Account
                            </span>
                            <span class="hidden-sm" ng-switch-when="false">
                                Login
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu >
                        <li ui-sref-active="active" ng-switch-when="true">
                            <!-- 
                            	<a ui-sref="settings" ng-click="vm.collapseNavbar()">
	                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
	                                <span>Configurações</span>
                            	</a>
                             -->
                            <a ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Configurações</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Logout</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <form novalidate role="form" ng-submit="vm.login($event)" name="vm.formLogin">
								<div class="form-group">
									<label for="username" class="sr-only">Usuário</label> 
									<input type="text" class="form-control" id="username"
										placeholder="Usuário" ng-model="vm.username" name="username"
										ng-required="true" ng-maxlength="30">
								</div>
								<div class="form-group">
									<label for="password" class="sr-only">Senha</label> <input
										type="password" class="form-control" id="password"
										placeholder="Senha" ng-model="vm.password " ng-required="true"
										ng-maxlength="50" name="password">
								</div>
								<div class="checkbox">
									<label for="rememberMe"> 
										<input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked> 
										<span>
											Lembrar-me
										</span>
									</label>
								</div>
								<button type="submit" class="btn btn-sm btn-danger">
									Entrar
								</button>
							</form>
                        </li>
                    </ul>
                </li>
	           
			</ul>
			
		</div>
		
	</div>
</nav>