@import "variables";

.navbar-default {
	color: $white;
	position: relative;
	border: none;
	background-color: $red-primary;
	margin-bottom: 0;
	.navbar-toggle{
	}
	.navbar-header{
		.navbar-brand {
			margin-left: 3rem;
			.navbar-logo {
				max-width: 40px;
				margin-top: -9px;
			}
		}
	}
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}
.navbar-default-formLogin {
	color: $black;
}
.login-dropdown {
	min-width: 300px;
}
@media ( max-width : 991px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		margin-left: -50px !important;
		display: block;
	}	
}