.movieAndShowPersonImages {
	width: 170px;
 	height: 250px;
 	cursor:pointer;
}

.movieAndShowTextBoxPersonImages {
	white-space: nowrap; 
	text-overflow: ellipsis; 
    width: 170px;
    height: 70px;
    overflow: hidden;
    cursor:pointer;
}

.movieAndShowTitleTextPersonImages {
 	font-size: medium;
}

.movieAndShowContentTextPersonImages {
	 line-height: 70%;
	 font-size: small;
}