/* ==========================================================================
General CSS
========================================================================== */

/* INICIO - override the default loading bar CSS */
#loading-bar .bar {
	background: #fff;
}

/* FINAL - override the default loading bar CSS */

/* INICIO -  override the default wizard CSS */
.steps-indicator {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 20px 0 0 0;
	height: 70px;
	list-style: none;
}

/* FINAL - override the default wizard CSS */

/* INICIO - corpo da aplicação */
body {
	background-color: #000;
}

/* INICIO - Screen Login */
.href {
	text-align: center;
	display: block;
}

.emailField {
	/*border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;*/
	
}

.passwordField {
	margin-top: 1rem;
	/*border-top-left-radius: 0;
	border-top-right-radius: 0;*/
}

.cadastre-seTopMargin {
	margin-top: 2rem;
}

.formLogin {
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 3rem;
	border-radius: 4rem;
	/*box-shadow: 30px 30px 50px -20px rgba(0,0,0,0.7);*/
}

/*
.form-control {
	padding: 2rem;
}
*/
.btnLogin {
	background-color: #c0392b;
	border-color: #c0392b;
}

.btnLogin:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.btnLogin:active {
	background-color: #c0392b;
	border-color: #c0392b;
}

.btnLogin:focus {
	background-color: #c0392b;
	border-color: #c0392b;
}

.hrefAlterar {
	font-weight: bold;
	color: #e74c3c;
	margin-top: 0;
}

a.hrefAlterar {
	margin-top: 0rem;
}

a.hrefAlterar:hover {
	color: #e74c3c;
	text-decoration: none;
}

a.hrefAlterar:active {
	text-decoration: none;
	color: #fff;
}

img.logo {
	width: 7rem;
}

.subTitle {
	margin-bottom: 3rem;
	color: #fff;
	text-shadow: -2px 2px 1px #000;
	letter-spacing: -1px;
}

.rememberMe {
	color: #fff;
}

.pNotAccount {
	color: #fff;
}

.alertLogin {
	background-color: #c0392b;
	color: #fff;
	border-color: #c0392b;
}

/* FINAL - Screen Login */

/* INICIO - Screen Register */
@media ( max-width : 991px) {
	.formCadastroSubTitle {
		font-size: 17px;
		text-align: center;
	}
}

.formCadastro {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	min-height: 100%;
	height: auto;
}

.formCadastroTitle {
	margin-top: 1rem;
	background-color: #c0392b;
	color: #fff;
	font-size: 2em;
	text-shadow: -2px 2px 1px #000;
	letter-spacing: -1px;
	border-radius: 1px;
}

.formCadastroSubTitle {
	margin-bottom: 3rem;
	margin-left: 2rem;
	margin-top: 2rem;
	color: #e74c3c;
	font-size: 2rem;
	text-shadow: 0px 1px 0px #000;
}

.labelColor {
	color: #fff;
}

.btnRegister {
	margin-top: 2rem;
	background-color: #c0392b;
	border-color: #c0392b;
	background-color: #c0392b;
}

.btnRegister:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.btnRegister:active {
	background-color: #c0392b;
	border-color: #c0392b;
}

.btnRegister:focus {
	background-color: #c0392b;
	border-color: #c0392b;
}

.hrefTermos {
	font-weight: bold;
	color: #e74c3c;
}

a.hrefTermos:hover {
	color: #e74c3c;
	text-decoration: none;
}

a.hrefTermos:active {
	text-decoration: none;
	color: #fff;
}

.navbar {
	position: relative;
	border: none;
	background-color: #c0392b;
}

.navbar-default{
	color: #fff;
}

.navbarLogin {
	
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbarLogo {
	max-width: 60px;
	margin-top: -9px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

/*FINAL - Screen Register */
/* FINAL - corpo da aplicação */