.first-section{
	background-image: url('/content/images/background/Logan-4.jpg');
    background-repeat: no-repeat;
    background-size:100%; 
  	height: 92.5vh;
  	.fist-section-title{
  		color: $white;
  		font-size: 7.5vh;
  		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    	line-height: 1;
    	color: #767777;
    	font-weight: 500;
  	 	margin-top: 10rem;
  	}
  	.fist-section-subtitle{
  		color: $white;
  		font-size: 3vh;
  		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  		color: #767777;
  		line-height: 1;
  		margin-top: 10px;
  	}
  	.btn-register-home {
		margin-top: 40px;
		background-color: $red-primary;
		border-color: $red-primary;
		display: block; 
	}
	.link-login-text{
		font-size: 2vh;
		color: #767777;
	}
	.link-login-home{
		color: $red-primary;
		cursor:pointer;
	}
	.first-section-movie{
		.first-section-movie-button{
			float:right;
			color: $white;
			font-size: 2vh;
			background-color: rgba(0, 0, 0, 0.4);
			border: none;
			display: block;
		}
	}
	
 }
 
 .first-section-footer{
	background-color: #fcfcfc;
	.interrogation{
		padding: 10px;
		font-size: 30vh;
		.glyphicon-question-sign{
			float: left;
			color: $red-primary;
		}
	}
	.first-section-footer-title{
		padding-top: 15px;
		border-bottom: thick dotted $red-primary;
		.first-section-footer-title-text{
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			line-height: 1;
			font-size: 7vh;
			color: #767777;
			font-weight: 500;
			
		}
	}
	.first-section-footer-subtitle{
		font-size: 3vh;
		color: #767777;
		padding-bottom: 15px;
		text-align: justify;
		.first-section-footer-subtitle-text{
		}
	}
	
	
}
 
 .second-section{
 	background-image: url('/content/images/background/Power-2.jpg');
    background-repeat: no-repeat;
    background-size:100%; 
  	height: 100vh;
  	.second-section-title{
  		color: $red-primary;
  		font-size: 11vh;
  		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    	line-height: 1.1;
    	color: $black;
    	font-weight: 500;
  	 	margin-top: 10rem;
  	 	.title-size-big{
  	 		font-size: 12vh; 
  	 	}
  	 }
  
  	.second-section-movie{
  		margin-top: 10px;
		.second-section-movie-button{
			 margin:0px auto;
			color: $white;
			font-size: 2vh;
			background-color: rgba(0, 0, 0, 0.4);
			border: none;
			display: block;
		
		}
	}
}

.third-section{
	.third-section-title{
			border-bottom: thick dotted $red-primary;
			padding-top: 20px;
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			line-height: 1;
			font-size: 7vh;
			color: #767777;
			font-weight: 500;
		}
	.third-section-principal{
		padding: 30px;
		.third-section-title{
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			line-height: 1;
			font-size: 7vh;
			color: #767777;
			font-weight: 500;
		}
		.third-section-birl{
			background-color: #fcfcfc;
			box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
			.third-section-text{
				.third-section-birl-title{
					padding-top: 15px;
					font-size: 3.5vh;
					text-align: center;
					color: #767777;
					font-weight: 700;
					
				}
				.third-section-birl-text{
					padding: 15px 0 50px 0px;
					text-align: justify;
					line-height: 2;
					color: #767777;
				}
				.third-section-birl-more-info{
					padding-bottom:20px;
					.third-section-birl-more-info-text{
						color: $red-primary;
						float:right;
						cursor:pointer; 
					}
				}
			}
		}
	}
}

