<div class="container-fluid">

	<div class="col-md-2">
	
		<div class="row">
			<h2 class="control-label">Pesquisa</h2>
		</div>
		<div class="row">
			<label class="control-label">Encontramos {{vm.totalResults}} resultados para "{{vm.query}}".</label>
		</div>
		<div class="row">
			<label class="control-label">Você está visualizando a página {{vm.page}} de {{vm.totalPages}}.</label>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form" novalidate ng-submit="vm.search(1, vm.searchInput.text, vm.type)">
				<div class="form-group">
					<label class="control-label">Nova Pesquisa</label>
					<input type="text" class="form-control" ng-model="vm.searchInput.text">
				</div>
			</form>
			<div class="row">
				<label class="control-label" ng-style="{'color':(vm.type === 'movie' ? 'white' : 'none')}"
					ng-click="vm.type != 'movie' ? vm.search(vm.page, vm.searchInput.text ? 
					vm.searchInput.text : vm.query, 'movie') : null">Filmes</label>
			</div>
			<div class="row">
				<label class="control-label" ng-style="{'color':(vm.type === 'show' ? 'white' :'none')}"
					ng-click="vm.type != 'show' ? vm.search(vm.page, vm.searchInput.text ? 
					vm.searchInput.text : vm.query, 'show') : null">Series</label>
			</div>
			<div class="row">
				<label class="control-label" ng-style="{'color':(vm.type === 'person' ? 'white' : 'none')}"
					ng-click="vm.type != 'person' ? vm.search(vm.page, vm.searchInput.text ? 
					vm.searchInput.text : vm.query, 'person') : null">Pessoas</label>
			</div>
			<div class="row">
				<label class="control-label" ng-style="{'color':(vm.type === 'all' ? 'white' : 'none')}"
					ng-click="vm.type != 'all' ? vm.search(vm.page, vm.searchInput.text ? 
					vm.searchInput.text : vm.query, 'all') : null">Todos</label>
			</div>
		</div>
		
	</div>
	
	<div>
		
		<div class="" ng-repeat="result in vm.results">
			<div class="panel panel-default">
				<div class="panel-body col-md-2">
			     	<img ng-src="{{result[result.type].images.poster.file_path ? 
			             result[result.type].images.poster.file_path : vm.imageNotAvailable}}" alt="" 
			             class="img-responsive center-block"/>
			             <p>{{result.type | translate}}</p>
			   	</div>
			</div>
		</div>
		
		<ul uib-pagination total-items="vm.totalResults" ng-model="vm.page" max-size="vm.maxSize"
			 	class="pagination-sm" boundary-links="true" force-ellipses="true" items-per-page="vm.itemsPerPage"
			 	first-text="Primeira" last-text="Última" next-text="Próxima" previous-text="Anterior"
			 	ng-change="vm.changePage(vm.page, vm.query, vm.type, vm.searchInput.text)"></ul>
		
	</div>
		 	
</div>