.formCadastro {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	height: 92.5vh;
	min-height: 600px;
	
	.submitted .ng-invalid{
        border: 1px solid red;
	}

	.formCadastroTitle {
		margin-top: 1rem;
		background-color: $red-primary;
		color: $white;
		font-size: 2em;
		text-shadow: -2px 2px 1px $black;
		letter-spacing: -1px;
		border-radius: 1px;
	}

	.formCadastroSubTitle {
		margin-bottom: 3rem;
		margin-left: 2rem;
		margin-top: 2rem;
		color: $red-secondary;
		font-size: 2rem;
		text-shadow: 0px 1px 0px $black;
	}

	.labelColor {
		color: $white;
	}

	.btnRegister {
		margin-top: 2rem;
		background-color: $red-primary;
		border-color: $red-primary;
		background-color: $red-primary;
	}

	.btnRegister:hover {
		background-color: $red-secondary;
		border-color: $red-secondary;
	}

	.btnRegister:active {
		background-color: $red-primary;
		border-color: $red-primary;
	}

	.btnRegister:focus {
		background-color: $red-primary;
		border-color: $red-primary;
	}

	.hrefTermos {
		font-weight: bold;
		color: $red-secondary;
	}

	a.hrefTermos:hover {
		color: $red-secondary;
		text-decoration: none;
	}

	a.hrefTermos:active {
		text-decoration: none;
		color: $white;
	}
}

@media ( max-width : 991px) {
	.formCadastroSubTitle {
		font-size: 17px;
		text-align: center;
	}
}
