.navbar-default {
	color: #000;
	position: relative;
	border: none;
	background-color: $red-primary;
	margin-bottom: 0;
	border-radius: 0;
	.navbar-toggle{
	}
	.navbar-header{
		.navbar-brand {
			margin-left: 3rem;
		}
	}
}

.navbar-logo {
	max-width: 40px;
	margin-top: -9px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}

.login-dropdown {
	min-width: 300px;
}
.navbar-default-formLogin{
	color: #fff;
}

.open>.dropdown-menu{
	background-color: rgba(0, 0, 0, 0.7);
}
.dropdown-menu>li>a{
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
 	color: #000;
}
.btnEntrar{
	color: #fff;
	background-color: $red-primary;
	border-color: $red-primary;
}
.btnEntrar:hover {
	background-color: $red-secondary;
	border-color:$red-secondary;
}
.btnEntrar:active {
	background-color: $red-primary;
	border-color: $red-primary;
}
.btnEntrar:focus {
	background-color: $red-primary;
	border-color: $red-primary; 
}

@media ( max-width : 991px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		margin-left: -50px !important;
		display: block;
	}	
}

.no-fill-color {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}